@font-face {
    font-family: 'lcd'; 
    src: url('../fonts/project8/lcd.ttf') format('truetype');
}

@font-face {
    font-family: 'pobeda'; 
    src: url('../fonts/project8/pobeda.ttf') format('truetype');
}

:root {
    --font-pobeda: "pobeda", sans-serif;
    --font-lcd: "lcd", sans-serif;
    --color-white: #fff;
    --color-light: #edeced;
    --color-dark: #28282a;
    --color-darker: #101011;
}

body {
    text-align: center;
    background-image: url('../images/project8/fonsait2.webp');
    
    background-repeat: no-repeat;
    background-size: cover;
}

button:hover {
    color:gray;
}
.contacts-nav__link,
.modal__link,
.footer__link {
    display: inline-block;
    margin: 0.6rem;
    padding: 0.3rem;
    font-size: 1.75rem;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 50%;
    border: none;
     -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


.contacts-nav__icon,
.modal__icon,
.footer__icon {
    font-size: 1.5rem; 
}
.contacts-nav__icon:hover,
.modal__icon:hover,
.footer__icon:hover {
    color:rgba(252, 252, 252, 0.77);
    transform: scale(1.3);
    transition: transform 0.2s ease;
}

.header__logo {
    color: var(--color-white);
    font-family: var(--font-lcd);
    font-size: 3.4rem;
    text-shadow: 0 0 1.9rem rgba(255, 255, 255);
    text-decoration: none;
}

.product-card {
    background-color: var(--color-dark);
    border: 0.125rem solid var(--color-white);
    padding: 0.3rem; 
    margin: 0.7rem;
    border-radius: 0.6rem;
    box-sizing: border-box;
    box-shadow: 0 0 0.6rem rgb(255, 255, 255);
}

.product-card__image,
.modal__image {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.6rem;
    margin-top:0.8rem;
    border-radius: 0.6rem;
}

.product-card__button {
    font-family: var(--font-pobeda);
    color: var(--color-light);
    font-size: 1.6rem;
    background: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.modal {
    background-color: var(--color-dark);
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    padding-top: 1.8rem;
    opacity: 1;
    
}

.modal__content {
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darker);
    margin: 5% auto;
    padding: 1.25rem;
    border: 0.125rem solid var(--color-white);
    border-radius: 1.6rem;
    width: 50%;
    text-align: center;
}

.modal__close {
    position:absolute;
    top:5px;
    right:15px;
    color: #fff;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
    color: gray;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.modal__image {
    max-width: 80%;
    margin-bottom: 1.25rem;
}

.modal__text {
    margin:0;
    font-family: var(--font-pobeda);
    color: var(--color-light);
    font-size: 1.45rem;
}

.modal__contacts {
    display: flex;
    justify-content: center;
    gap: 0.05rem;
}

.separator {
    border-top: 0.0625rem solid var(--color-light);
    margin: 1.25rem 0;
}

.footer {
    text-align: center;
    padding: 0.6rem;
    font-family: var(--font-pobeda);
}

.footer__contacts {
    text-align: center;
    max-width: 25rem;
    margin: 0 auto;
    color: var(--color-light);
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.footer__title {
    margin: 0;
    padding: 0;
    color: var(--color-light);
    font-size: 1.75rem;
    border-radius: 0.3rem;    
}

.text-card {
    text-align: center;
    padding: 0.3rem; 
    border-radius: 0.6rem;
    box-sizing: border-box;
}

.text-card__content,
.text-card__title,
.text-card__text {
    font-family: var(--font-pobeda);
    color: var(--color-white);
    font-size: 2rem;
    border-radius: 0.6rem;
}

.text-card__content {
    white-space: normal;	
    display: inline-block;
    vertical-align: middle;
}

.text-card__title {
    margin-bottom: 1.25rem;
}

.text-card__text {
    line-height: 1.4;
}
.owl-nav {
    display: none;
}
.owl-dots {
    margin-top: 5px;
}


@media(max-width: 460px) { 
    .header__logo {
        padding-bottom: 0;
        margin-bottom: 10px;
    }
    .text-card__title {
        font-size: 2rem; 
        margin: 0;
    }
    .text-card__text {
        font-size: 1.6rem; 
        line-height: 1.4;
        margin-bottom: 0.3rem; 
    }
    .contacts-nav__link:focus:not(:active),
.modal__link:focus:not(:active),
.footer__link:focus:not(:active) {
    -webkit-tap-highlight-color: transparent;
}

.modal__content {
    
    gap:30px;
    width: 80%;
    height:55%;
    gap:15px;
    
}
.modal__link {
    margin-top:5px;
}
.modal__text {
    font-size: 1.7em;
}
}
/* .modal__content {
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darker);
    margin: 5% auto;
    padding: 1.25rem;
    border: 0.125rem solid var(--color-white);
    border-radius: 1.6rem;
    width: 50%;
    text-align: center;
} */