.header {
  display: flex;
}

.navbar {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  &__container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  &__logo {
    img {
      height: 55px;
      width: auto;
    }
  }

  &__menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 18px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
    transition:
      color 0.4s,
      transform 0.4s;

    &:hover {
      color: #66a104;
      transform: scale(1.15);
    }
  }

  &__toggler {
    display: none;
    background: none;
    border: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    padding: 5px;

    span {
      display: block;
      width: 25px;
      height: 2px;
      background: #333;
      transition: 0.3s;
    }
  }
}
@media (max-width: 1024px) {
  .navbar {
    &__container {
      padding: 0 4vw;
    }

    &__logo {
      img {
        height: 60px;
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 480px) {
  .navbar {
    &__container {
      height: 60px;
    }
    &__logo {
      img {
        height: 45px;
        width: auto;
      }
    }
    &__menu {
      font-size: 14px;
    }
  }
}
@media (max-width: 400px) {
  .navbar {
    &__container {
      height: 40px;
    }
    &__logo {
      img {
        height: 25px;
        width: auto;
      }
    }
    &__menu {
      font-size: 12px;
    }
  }
}
@media (max-width: 350px) {
  .navbar {
    &__menu {
      gap: 10px;
    }
  }
}
