*,::before,::after{box-sizing:border-box;margin:0;padding:0}
html{line-height:1.15;-webkit-text-size-adjust:100%}
body{line-height:1.5}
img{max-width:100%;height:auto;display:block}
a{color:inherit;text-decoration: none;}